<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine: <%= TestSquad.app_class_name %></title>

  <%= favicon_link_tag 'jasmine/jasmine_favicon.png' %>
  <%= stylesheet_link_tag 'jasmine/jasmine' %>
  <%= javascript_include_tag 'jasmine/jasmine', 'jasmine/jasmine-html', 'test_squad/jasmine-phantom', 'jasmine/boot', 'spec_helper' %>
</head>

<body>
  <div id="jasmine-fixture"></div>
</body>
</html>
