<html>
<head>
  <meta charset="utf-8">
  <title>Mocha: <%= TestSquad.app_class_name %></title>
  <%= stylesheet_link_tag 'mocha' %>
</head>
<body>
  <div id="mocha"></div>
  <%= javascript_include_tag 'mocha', 'test_squad/mocha-reporter', 'spec_helper' %>
</body>
</html>
